<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="donationApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.invoiceNumber" for="field_invoiceNumber">Invoice Number</label>
                    <input type="text" class="form-control" name="invoiceNumber" id="field_invoiceNumber"
                           formControlName="invoiceNumber"/>
                    <div *ngIf="editForm.get('invoiceNumber')!.invalid && (editForm.get('invoiceNumber')!.dirty || editForm.get('invoiceNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('invoiceNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('invoiceNumber')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.sessionId" for="field_sessionId">Session Id</label>
                    <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                           formControlName="sessionId"/>
                    <div *ngIf="editForm.get('sessionId')!.invalid && (editForm.get('sessionId')!.dirty || editForm.get('sessionId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sessionId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.basket" for="field_basket">Basket</label>
                    <input type="text" class="form-control" name="basket" id="field_basket"
                           formControlName="basket"/>
                    <div *ngIf="editForm.get('basket')!.invalid && (editForm.get('basket')!.dirty || editForm.get('basket')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('basket')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.ovoIdMasked" for="field_ovoIdMasked">Ovo Id Masked</label>
                    <input type="text" class="form-control" name="ovoIdMasked" id="field_ovoIdMasked"
                           formControlName="ovoIdMasked"/>
                    <div *ngIf="editForm.get('ovoIdMasked')!.invalid && (editForm.get('ovoIdMasked')!.dirty || editForm.get('ovoIdMasked')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ovoIdMasked')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }">
                        This field cannot be longer than 15 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.deviceInformation" for="field_deviceInformation">Device Information</label>
                    <input type="text" class="form-control" name="deviceInformation" id="field_deviceInformation"
                           formControlName="deviceInformation"/>
                    <div *ngIf="editForm.get('deviceInformation')!.invalid && (editForm.get('deviceInformation')!.dirty || editForm.get('deviceInformation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deviceInformation')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                    <div *ngIf="editForm.get('mobile')!.invalid && (editForm.get('mobile')!.dirty || editForm.get('mobile')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mobile')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }">
                        This field cannot be longer than 15 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 10000 }">
                            This field should be at least 10000.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.paymentChannel" for="field_paymentChannel">Payment Channel</label>
                    <select class="form-control" name="paymentChannel" formControlName="paymentChannel" id="field_paymentChannel">
                        <option value="OVO">{{ 'donationApp.PaymentChannel.OVO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy')!.invalid && (editForm.get('lastUpdatedBy')!.dirty || editForm.get('lastUpdatedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.lastUpdatedAt" for="field_lastUpdatedAt">Last Updated At</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedAt" type="datetime-local" class="form-control" name="lastUpdatedAt" formControlName="lastUpdatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="INITIATE">{{ 'donationApp.TransactionStatus.INITIATE' | translate }}</option>
                        <option value="PROCESS">{{ 'donationApp.TransactionStatus.PROCESS' | translate }}</option>
                        <option value="SUCCESS">{{ 'donationApp.TransactionStatus.SUCCESS' | translate }}</option>
                        <option value="FAILED">{{ 'donationApp.TransactionStatus.FAILED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="donationApp.transaction.donation" for="field_donation">Donation</label>
                    <select class="form-control" id="field_donation" name="donation" formControlName="donation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="donationOption.id === editForm.get('donation')!.value?.id ? editForm.get('donation')!.value : donationOption" *ngFor="let donationOption of donations; trackBy: trackById">{{ donationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
