<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="donationApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="donationApp.transaction.invoiceNumber">Invoice Number</span></dt>
                <dd>
                    <span>{{ transaction.invoiceNumber }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.sessionId">Session Id</span></dt>
                <dd>
                    <span>{{ transaction.sessionId }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.basket">Basket</span></dt>
                <dd>
                    <span>{{ transaction.basket }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.ovoIdMasked">Ovo Id Masked</span></dt>
                <dd>
                    <span>{{ transaction.ovoIdMasked }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.deviceInformation">Device Information</span></dt>
                <dd>
                    <span>{{ transaction.deviceInformation }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.name">Name</span></dt>
                <dd>
                    <span>{{ transaction.name }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.mobile">Mobile</span></dt>
                <dd>
                    <span>{{ transaction.mobile }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.email">Email</span></dt>
                <dd>
                    <span>{{ transaction.email }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.amount">Amount</span></dt>
                <dd>
                    <span>{{ transaction.amount }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.paymentChannel">Payment Channel</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'donationApp.PaymentChannel.' + transaction.paymentChannel }}">{{ transaction.paymentChannel }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.mallId">Mall Id</span></dt>
                <dd>
                    <span>{{ transaction.mallId }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.trxCode">Trx Code</span></dt>
                <dd>
                    <span>{{ transaction.trxCode }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{ transaction.paymentDate | date:'full' }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.responseCode">Response Code</span></dt>
                <dd>
                    <span>{{ transaction.responseCode }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.message">Message</span></dt>
                <dd>
                    <span>{{ transaction.message }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.paymentSystrace">Payment Systrace</span></dt>
                <dd>
                    <span>{{ transaction.paymentSystrace }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.approvalCode">Approval Code</span></dt>
                <dd>
                    <span>{{ transaction.approvalCode }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.paymentHostRefNumber">Payment Host Ref Number</span></dt>
                <dd>
                    <span>{{ transaction.paymentHostRefNumber }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ transaction.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.lastUpdatedAt">Last Updated At</span></dt>
                <dd>
                    <span>{{ transaction.lastUpdatedAt | date:'full'  }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'donationApp.TransactionStatus.' + transaction.status }}">{{ transaction.status }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.donation">Donation</span></dt>
                <dd>
                    <div *ngIf="transaction.donation">
                        <a [routerLink]="['/donation', transaction.donation?.id, 'view']">{{ transaction.donation?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="donationApp.transaction.donation">Organizer</span></dt>
                <dd>
                    <div *ngIf="transaction.donation">
                        <a [routerLink]="['/organizer', transaction.donation?.organizer?.id, 'view']">{{ transaction.donation?.organizer?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

        </div>
    </div>
</div>
