//
// Base styles
//

$font-size-base: 1rem !default;
$close-font-size: $font-size-base * 1.5 !default;

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  font-size: 0.875rem;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: 700;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + 1.25rem * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-primary {
  color: #4a5568;
  background-color: #f7fafc;
  border-color: #cbd5e0;

  hr {
    border-top-color: #cbd5e0;
  }

  .alert-link {
    color: #4a5568;
  }
}

.alert-success {
  color: #2f855a;
  background-color: #f0fff4;
  border-color: #68d391;

  hr {
    border-top-color: #68d391;
  }

  .alert-link {
    color: #2f855a;
  }
}

.alert-warning {
  color: #c05621;
  background-color: #fffaf0;
  border-color: #f6ad55;

  hr {
    border-top-color: #f6ad55;
  }

  .alert-link {
    color: #c05621;
  }
}

.alert-danger {
  color: #c53030;
  background-color: #fff5f5;
  border-color: #fc8181;

  hr {
    border-top-color: #fc8181;
  }

  .alert-link {
    color: #c53030;
  }
}

.alert-info {
  color: #2b6cb0;
  background-color: #ebf8ff;
  border-color: #63b3ed;

  hr {
    border-top-color: #63b3ed;
  }

  .alert-link {
    color: #2b6cb0;
  }
}
