.pagination {
  display: flex;
  font-size: 0.875rem;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2d3748;
  background-color: white;
  border: 1px solid #f7fafc;

  &:hover {
    z-index: 2;
    color: white;
    text-decoration: none;
    background-color: #edf2f7;
    border-color: #edf2f7;
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  &:last-child {
    .page-link {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  &.active .page-link {
    z-index: 3;
    color: #2d3748;
    background-color: white;
    border-color: #f7fafc;
  }

  &.disabled .page-link {
    color: white;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: #e2e8f0;
    border-color: #f7fafc;
  }
}
