<div *ngIf="isDisabled"
    class="container h-screen max-w-md mx-auto xl:max-w-3xl h-full flex bg-white rounded-lg shadow-lg overflow-hidden my-6 xl:my-8">
    <div class="w-full p-8">
        <div class="row justify-content-center mt-5">
            <div class="col-8 text-center">
                <div class="md:max-w-lg mx-auto">
                    <img src="../../content/images/error-illustration.png" class="max-w-full max-h-full" alt="" />
                </div>

                <h1 class="text-2xl font-bold mb-1 mt-3" jhiTranslate="payment.disabled.head">This donation is disabled!
                </h1>
                <p jhiTranslate="payment.disabled.body" class="mb-6">Please contact your Organizer for further info.</p>
                <a href="/" class="bg-red-600 hover:bg-red-500 disabled:bg-red-200 disabled:cursor-not-allowed text-white
                    text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
                    jhiTranslate="payment.disabled.link">Back To Homepage</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isDisabled"
    class="container max-w-md mx-auto xl:max-w-3xl h-full flex bg-white rounded-lg shadow-lg overflow-hidden my-6 xl:my-8">
    <div class="w-full p-8" *ngIf="!isLogin && !isLogout">
        <div class="row justify-content-center mt-5">
            <div class="col-8 text-center">
                <div class="md:max-w-lg mx-auto">
                    <img src="../../content/images/covid-tracing.png" class="max-w-full max-h-full" alt="" />
                </div>

                <h1 class="text-2xl font-bold mb-1 mt-3">Selamat datang di {{ donation?.name }}</h1>
                <p class="mb-6">Untuk mendukung program pemerintah, memutus rantai penyebaran COVID-19, kami
                    akan melakukan pencatatan kunjungan Anda ke toko ini, untuk pencatatan contact tracing.</p>
                <p class="mb-6">Setelah melakukan Check In, Anda akan diarahkan ke halaman Contactless Payment
                    untuk mengurangi resiko penularan COVID-19.</p>
                <form name="covidForm" role="form" novalidate (ngSubmit)="checkIn()" [formGroup]="covidForm">
                    <div class="w-full mt-6">
                        <div class="my-4">
                            <label class="block text-gray-700 text-sm font-semibold mb-2" for="field_contact_name">
                                Contact Name
                            </label>
                            <input
                                class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 disabled:bg-gray-400 disabled:cursor-not-allowed leading-tight focus:outline-none focus:shadow-outline h-10"
                                name="contact_name" id="field_contact_name" formControlName="contactName"
                                type="text" placeholder="Anton Budiman" />
                            <div
                                *ngIf="covidForm.get('contactName')!.invalid && (covidForm.get('contactName')!.dirty || covidForm.get('contactName')!.touched)">
                                <small id="error_name_too_short" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactName')?.errors?.maxlength"
                                    jhiTranslate="payment.section.form.validation.name_maxlength"
                                    [translateValues]="{ max: 30 }">
                                    Please shorten your name. The maximum length is 30 characters.
                                </small>
                                <small id="error_name_empty" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactName')?.errors?.required">
                                    Masukkan nama Anda.
                                </small>
                            </div>
                        </div>
                        <div class="my-4">
                            <label class="block text-gray-700 text-sm font-semibold mb-2" for="field_contact_phone">
                                Contactable Phone
                            </label>
                            <div class="flex flex-wrap items-stretch w-full">
                                <div class="flex -mr-px">
                                    <span
                                        class="flex items-center bg-gray-200 rounded rounded-r-none px-3 font-semibold text-sm text-gray-700">
                                        <img src="../../content/images/payment/indonesia-flag.svg" alt=""
                                            class="w-4" />
                                    </span>
                                </div>
                                <input type="text"
                                    class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 text-sm bg-gray-200 py-2 px-3 rounded rounded-l-none space-y-0 focus:outline-none focus:shadow-outline h-10"
                                    placeholder="081212121212" name="contact_phone" id="field_contact_phone"
                                    formControlName="contactPhone" />
                            </div>
                            <div
                                *ngIf="covidForm.get('contactPhone')!.invalid && (covidForm.get('contactPhone')!.dirty || covidForm.get('contactPhone')!.touched)">
                                <small id="error_phone_number_too_long" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactPhone')?.errors?.maxlength"
                                    jhiTranslate="payment.section.form.validation.phone_max_length"
                                    [translateValues]="{ max: 13 }">
                                    Your phone number length is 13 characters.
                                </small>
                                <small id="error_phone_number_too_short" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactPhone')?.errors?.minlength"
                                    jhiTranslate="payment.section.form.validation.phone_min_length"
                                    [translateValues]="{ min: 10 }">
                                    Your phone number length is less than 10 characters.
                                </small>
                                <small id="error_phone_number_required" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactPhone')?.errors?.required"
                                    jhiTranslate="payment.section.form.validation.phone_required">
                                    Please input your phone number.
                                </small>
                                <small id="error_phone_number_not_valid" class="text-xs text-red-500"
                                    *ngIf="covidForm.get('contactPhone')?.errors?.pattern"
                                    jhiTranslate="payment.section.form.validation.phone_start_with_08">
                                    Your phone number not valid, must be numbers start with 08.
                                </small>
                            </div>

                            <button type="submit" id="button_submit" [disabled]="covidForm.invalid"
                                class="w-full mt-5 bg-red-600 hover:bg-red-500 disabled:bg-red-200 disabled:cursor-not-allowed text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10">
                                Check In
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="w-full p-8" *ngIf="isLogout && isLogin">
        <div class="row justify-content-center mt-5">
            <div class="col-8 text-center">
                <div class="md:max-w-lg mx-auto">
                    <img src="../../content/images/covid-tracing.png" class="max-w-full max-h-full" alt="" />
                </div>

                <h1 class="text-2xl font-bold mb-1 mt-3">Terima kasih telah berkunjung ke {{ donation?.name }}</h1>
                <p class="mb-6">Data kunjungan Anda telah diakhiri.<br />Mari kita bersama memutus rantai penularan COVID-19.</p>
        
            </div>
        </div>
    </div>

    <div *ngIf="isLogin && !isLogout" class="w-full p-4 lg:p-8">
        <div class="row justify-content-center mt-5">
            <div class="col-8">
                <jhi-alert-error></jhi-alert-error>

                <h1 class="text-2xl font-bold mb-1">Lakukan Contactless Payment</h1>

                <hr class="border border-gray-100 mb-4">

                <br />

                <form #form name="paymentForm" action="https://pay.doku.com/Suite/Receive" method="POST" role="form" novalidate [formGroup]="paymentForm">
                    <div class="my-4">
                        <label class="block text-gray-700 text-sm font-semibold mb-2" for="field_amount">
                            Jumlah Pembayaran
                        </label>
                        <div class="flex flex-wrap items-stretch w-full">
                            <div class="flex -mr-px">
                                <span
                                    class="flex items-center bg-gray-200 rounded rounded-r-none px-3 font-semibold text-sm text-gray-700">Rp</span>
                            </div>
                            <input
                                class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 text-sm bg-gray-200 py-2 px-3 rounded rounded-l-none space-y-0 focus:outline-none focus:shadow-outline h-10"
                                placeholder="10.000" name="amount_pay" id="field_amount_pay" currencyMask
                                formControlName="amountPay"
                                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0, align: 'left' }"
                                autocomplete="off"
                                (blur)="generateWords()" />
                        </div>
                        <div
                            *ngIf="paymentForm.get('amountPay')!.invalid && (paymentForm.get('amountPay')!.dirty || paymentForm.get('amountPay')!.touched)">
                            <small id="error_donation_min" class="text-xs text-red-500"
                                *ngIf="paymentForm.get('amountPay')?.errors?.min"
                                jhiTranslate="payment.section.form.validation.min_amount">
                                Minimum donation is Rp10.000.
                            </small>
                            <small id="errror_donation_max" class="text-xs text-red-500"
                                *ngIf="paymentForm.get('amountPay')?.errors?.max"
                                jhiTranslate="payment.section.form.validation.max_amount">
                                Maximum donation is Rp10.000.000.
                            </small>
                            <small id="errror_donation_required" class="text-xs text-red-500"
                                *ngIf="paymentForm.get('amountPay')?.errors?.required"
                                jhiTranslate="payment.section.form.validation.amount_required">
                                Please input your donation amount.
                            </small>
                        </div>
                    </div>

                    <input type="hidden" id="field_gre_token" formControlName="greToken" />
                    <span [hidden]="paymentForm.controls.greToken.valid" id="error_recaptcha_processing"
                        class="text-xs text-red-500" jhiTranslate="payment.recaptcha.checking">Checking ReCaptcha
                        V3</span>


                    <input type="hidden" name="MALLID" id="field_mallid" formControlName="mallId"/>
                    <input type="hidden" name="CHAINMERCHANT" id="field_chainmerchant" formControlName="chainMerchant" />
                    <input type="hidden" name="PURCHASEAMOUNT" id="field_purchaseamount" formControlName="purchaseAmount" />
                    <input type="hidden" name="TRANSIDMERCHANT" id="field_transidmerchant" formControlName="transIdMerchant" />
                    <input type="hidden" name="PAYMENTYPE" id="field_paymenttype" formControlName="paymentType" />
                    <input type="hidden" name="WORDS" id="field_words" formControlName="words" />
                    <input type="hidden" name="REQUESTDATETIME" id="field_requestdatetime" formControlName="requestDateTime" />
                    <input type="hidden" name="CURRENCY" id="field_currency" formControlName="currency" />
                    <input type="hidden" name="PURCHASECURRENCY" id="field_purchasecurrency" formControlName="purchaseCurrency" />
                    <input type="hidden" name="SESSIONID" id="field_sessionid" formControlName="sessionId" />
                    <input type="hidden" name="NAME" id="field_name" formControlName="name" />
                    <input type="hidden" name="EMAIL" id="field_email" formControlName="email" />
                    <input type="hidden" name="BASKET" id="field_basket" formControlName="basket" />

                    <div class="flex w-full mt-6">
                        <button type="submit" id="button_submit" (click)="form.submit()" [disabled]="paymentForm.invalid || isSaving"
                            class="w-full bg-red-600 hover:bg-red-500 disabled:bg-red-200 disabled:cursor-not-allowed text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10">
                            Bayar Sekarang
                        </button>
                    </div>
                    <p href="#"
                        class="text-blue-600 hover:text-blue-700 text-xs mr-3 cursor-pointer"
                        (click)="checkOut()">
                        Jika Anda batal melakukan Contactless Payment <br /> dan ingin Sign Out, silakan klik disini. 
                    </p>
                </form>

                <p class="text-center text-xs mt-8">
                    <span jhiTranslate="payment.powered">Powered by</span>
                    <img src="../../content/images/payment/doku-logo.png" alt="DOKU Logo" width="25px" height="25px"
                        class="inline-block" />
                </p>
            </div>
        </div>
    </div>
</div>