<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organizer">
            <h2><span jhiTranslate="donationApp.organizer.detail.title">Organizer</span> {{ organizer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="donationApp.organizer.name">Name</span></dt>
                <dd>
                    <span>{{ organizer.name }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.url">Url</span></dt>
                <dd>
                    <span>{{ organizer.url }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.email">Email</span></dt>
                <dd>
                    <span>{{ organizer.email }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.bankAccountNumber">Bank Account Number</span></dt>
                <dd>
                    <span>{{ organizer.bankAccountNumber }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.bankAccountName">Bank Account Name</span></dt>
                <dd>
                    <span>{{ organizer.bankAccountName }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{ organizer.bankName }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.mdr">Mdr</span></dt>
                <dd>
                    <span>{{ organizer.mdr }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.sharing">Sharing</span></dt>
                <dd>
                    <span>{{ organizer.sharing }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ organizer.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.lastUpdatedAt">Last Updated At</span></dt>
                <dd>
                    <span>{{ organizer.lastUpdatedAt | date:'medium' }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.mallId">Mall Id</span></dt>
                <dd>
                    <span>{{ organizer.mallId }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.sharedKey">Shared Key</span></dt>
                <dd>
                    <span>{{ organizer.sharedKey }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.serviceId">Service Id</span></dt>
                <dd>
                    <span>{{ organizer.serviceId }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.acquirerId">Acquirer Id</span></dt>
                <dd>
                    <span>{{ organizer.acquirerId }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'donationApp.IsActiveStatus.' + organizer.status }}">{{ organizer.status }}</span>
                </dd>
                <dt><span jhiTranslate="donationApp.organizer.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of organizer.users; let last = last">
                        {{ user.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organizer', organizer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
