<div *ngIf="organizer">
    <div class="container mx-auto bg-white my-6 px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between mb-6">
            <div>
                <h1 class="text-2xl font-bold mb-1"><span jhiTranslate="donationApp.organizer.detail.title">Organizer</span> {{ organizer.id }}</h1>
            </div>
            
            <div>
                <button type="submit" (click)="previousState()"
                    class="bg-white hover:bg-red-500 disabled:border-red-200 disabled:text-red-200 border border-red-500 disabled:cursor-not-allowed text-red-500 hover:text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>

                <button type="button" [routerLink]="['/organizer', organizer.id, 'edit']"
                    class="bg-red-600 hover:bg-red-500 disabled:bg-red-200 disabled:cursor-not-allowed text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
        </div>

        <div class="flex bg-white rounded-lg shadow-lg">
            <div class="w-full p-6 lg:px-8">
                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.name">Name</span>: 
                    <span>{{ organizer.name }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.url">Url</span>:
                    <span>{{ organizer.url }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.email">Email</span>:
                    <span>{{ organizer.email }}</span>
                </div>

                <hr class="mb-2">

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.bankAccountNumber">Bank Account Number</span>:
                    <span>{{ organizer.bankAccountNumber }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.bankAccountName">Bank Account Name</span>:
                    <span>{{ organizer.bankAccountName }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.bankName">Bank Name</span>:
                    <span>{{ organizer.bankName }}</span>
                </div>

                <hr class="mb-2">

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.mdr">MDR</span>:
                    <span *ngIf="organizer.status === 'ACTIVE'">{{ organizer.mdr }}</span>
                    <span *ngIf="!organizer.status"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                        WAITING FOR APPROVAL
                    </span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.sharing">Sharing</span>:
                    <span *ngIf="organizer.status === 'ACTIVE'">{{ organizer.sharing }}</span>
                    <span *ngIf="!organizer.status"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                        WAITING FOR APPROVAL
                    </span>
                </div>

                <hr class="mb-2">

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.lastUpdatedBy">Last Updated By</span>:
                    <span>{{ organizer.lastUpdatedBy }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.lastUpdatedAt">Last Updated At</span>:
                    <span>{{ organizer.lastUpdatedAt | date:'medium' }}</span>
                </div>

                <hr class="mb-2">

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.mallId">Mall ID</span>:
                    <span>{{ organizer.mallId }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span jhiTranslate="donationApp.organizer.chainMallId">Chain Mall ID</span>:
                    <span>{{ organizer.chainMallId }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.sharedKey">Shared Key</span>:
                    <span>{{ organizer.sharedKey }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.serviceId">Service ID</span>:
                    <span>{{ organizer.serviceId }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.acquirerId">Acquirer ID</span>:
                    <span>{{ organizer.acquirerId }}</span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.status">Status</span>:
                    <span *ngIf="organizer.status === 'ACTIVE'"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                        jhiTranslate="{{ 'donationApp.IsActiveStatus.' + organizer.status }}">
                        ACTIVE
                    </span>
                    <span *ngIf="organizer.status === 'DISABLED'"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                        jhiTranslate="{{ 'donationApp.IsActiveStatus.' + organizer.status }}">
                        DISABLED
                    </span>
                    <span *ngIf="!organizer.status"
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                        WAITING FOR APPROVAL
                    </span>
                </div>

                <div class="mb-2 text-gray-800">
                    <span class="font-semibold" jhiTranslate="donationApp.organizer.user">User</span>:
                    <span *ngFor="let user of organizer.users; let last = last">
                        {{ user.login }}{{ last ? '' : ', ' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
